/* 
    Main styling for myPlants application
*/

* {
    box-sizing: border-box;
    font-family: "Roboto Mono",monospace;
}
body {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    width: 100%;
}

header h1 {
    font-size: xx-large;
    text-align: center;
    padding: 0.2rem;
}

header.main div.head-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 1rem;
}

header.main div.head-container div {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Main Home*/

main.main div.plant_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 1rem;
}

main.main div.plant_container button.plant_box {
    width: 200px;
    height: 250px;
    margin: 1.5rem 1rem;
    box-shadow: 2px 2px 10px rgba(192, 192, 192, 0.74);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0;
}
main.main div.plant_container button.plant_box:hover {
    box-shadow: 2px 2px 15px rgba(133, 133, 133, 0.74);
}
main.main div.plant_container button.plant_box:checked {
    box-shadow: 0;
}

main.main div.plant_container button.plant_box div {
    margin: 0;
}

main.main div.plant_container button.plant_box div.image_container_home {
    z-index: -1;
}

main.main div.plant_container button.plant_box div.image_text {
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: 2;
}

main.main div.plant_container button.plant_box img {
    width: 100%;
    z-index: -1;
}

main.main div.plant_container button.plant_box h2 {
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    color: white;
    text-shadow: 2px 2px 10px black;
}
main.main div.plant_container button.plant_box p {
    font-size: 11px;
    margin: 0.5rem 0.6rem;
    color: white;
    text-shadow: 2px 2px 10px black;
}
